# Lab Assignment 2

- Name - Aryan Gupta
- Roll No.- 230150003
- Date - 6 Aug, 2025
- Course - DA331 Big Data Analytics: Tools & Techniques

## Import Library

In [144]:
# Install Spark
!pip install pyspark
# !pip install pyspark[sql]

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [145]:
# import pyspark.sql classes and functions
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col, array_contains, isnan, when, count
from pyspark.sql.functions import lit, concat_ws, concat, collect_list, udf
from pyspark.sql.functions import countDistinct
from pyspark.sql.functions import max, corr

# time library
import time

# pandas
import pandas as pd

spark = SparkSession.builder.appName("answers").getOrCreate()

## Load Data

In [146]:
# Get where the session is built
!pwd

/content

In [147]:
# Define path
path = "./sample_data/california_housing_train.csv"

### Get the feel of the data

In [148]:
df = spark.read.option("header",'True').option('delimiter', ',').csv(path)
df.show()
df.printSchema()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-114.310000|34.190000|         15.000000|5612.000000|   1283.000000|1015.000000| 472.000000|     1.493600|      66900.000000|
|-114.470000|34.400000|         19.000000|7650.000000|   1901.000000|1129.000000| 463.000000|     1.820000|      80100.000000|
|-114.560000|33.690000|         17.000000| 720.000000|    174.000000| 333.000000| 117.000000|     1.650900|      85700.000000|
|-114.570000|33.640000|         14.000000|1501.000000|    337.000000| 515.000000| 226.000000|     3.191700|      73400.000000|
|-114.570000|33.570000|         20.000000|1454.000000|    326.000000| 624.000000| 262.000000|     1.925000|      65500.000000|
|-114.580000|33.630000|         29.000000|1387.000000|    236.000000| 671.000000| 239.000000|     3.343800|      74000.000000|
|-114.580000|33.610000|         25.000000|2907.000000|    680.000000|1841.000000| 633.000000|     2.676800|      82400.000000|
|-114.590000|34.830000|         41.000000| 812.000000|    168.000000| 375.000000| 158.000000|     1.708300|      48500.000000|
|-114.590000|33.610000|         34.000000|4789.000000|   1175.000000|3134.000000|1056.000000|     2.178200|      58400.000000|
|-114.600000|34.830000|         46.000000|1497.000000|    309.000000| 787.000000| 271.000000|     2.190800|      48100.000000|
|-114.600000|33.620000|         16.000000|3741.000000|    801.000000|2434.000000| 824.000000|     2.679700|      86500.000000|
|-114.600000|33.600000|         21.000000|1988.000000|    483.000000|1182.000000| 437.000000|     1.625000|      62000.000000|
|-114.610000|34.840000|         48.000000|1291.000000|    248.000000| 580.000000| 211.000000|     2.157100|      48600.000000|
|-114.610000|34.830000|         31.000000|2478.000000|    464.000000|1346.000000| 479.000000|     3.212000|      70400.000000|
|-114.630000|32.760000|         15.000000|1448.000000|    378.000000| 949.000000| 300.000000|     0.858500|      45000.000000|
|-114.650000|34.890000|         17.000000|2556.000000|    587.000000|1005.000000| 401.000000|     1.699100|      69100.000000|
|-114.650000|33.600000|         28.000000|1678.000000|    322.000000| 666.000000| 256.000000|     2.965300|      94900.000000|
|-114.650000|32.790000|         21.000000|  44.000000|     33.000000|  64.000000|  27.000000|     0.857100|      25000.000000|
|-114.660000|32.740000|         17.000000|1388.000000|    386.000000| 775.000000| 320.000000|     1.204900|      44000.000000|
|-114.670000|33.920000|         17.000000|  97.000000|     24.000000|  29.000000|  15.000000|     1.265600|      27500.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

### Load actual schema

In [149]:
# # define schema
# schema = StructType() \
#       .add("longitude",DoubleType(),True) \
#       .add("latitude",DoubleType(),True) \
#       .add("housing_median_age",DoubleType(),True) \
#       .add("total_rooms",DoubleType(),True) \
#       .add("total_bedrooms",DoubleType(),True) \
#       .add("population",DoubleType(),True) \
#       .add("households",DoubleType(),True) \
#       .add("median_income",DoubleType(),True) \
#       .add("median_house_value",DoubleType(),True) \

In [150]:
# df = spark.read.format("csv") \
#       .option("header", True) \
#       .option('delimiter', ',') \
#       .schema(schema) \
#       .load("/content/sample_data/california_housing_train.csv")

# df.printSchema()

### OR change datatype of the columns

In [151]:
columns = df.columns
print(columns)

['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']

In [152]:
for one_col in columns:
  df = df.withColumn(one_col, col(one_col).cast(DoubleType()))
df.printSchema()
df.show(5)

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

## Show Summary

In [153]:
df.summary().show()

+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|  count|              17000|             17000|             17000|            17000|            17000|             17000|            17000|             17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827| 28.58935294117647|2643.664411764706|539.4108235294118|1429.5739411764705|501.2219411764706| 3.883578100000021|207300.91235294117|
| stddev| 2.0051664084260357|2.1373397946570867|12.586936981660406|2179.947071452777|421.4994515798648| 1147.852959159527|384.5208408559016|1.9081565183791036|115983.76438720895|
|    min|            -124.35|             32.54|               1.0|              2.0|              1.0|               3.0|              1.0|            0.4999|           14999.0|
|    25%|            -121.79|             33.93|              18.0|           1462.0|            297.0|             789.0|            282.0|            2.5662|          119400.0|
|    50%|            -118.49|             34.25|              29.0|           2127.0|            434.0|            1167.0|            409.0|            3.5445|          180400.0|
|    75%|             -118.0|             37.72|              37.0|           3150.0|            648.0|            1720.0|            605.0|            4.7639|          265000.0|
|    max|            -114.31|             41.95|              52.0|          37937.0|           6445.0|           35682.0|           6082.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+

## 1.) Average number of household for different geolocation

In [154]:
geolocation = ["longitude", "latitude"]

sparkTimeStart = time.time()
avgHouseholdDF = df.groupBy(geolocation).agg({"households": "avg"})
sparkTimeEnd = time.time()
sparkTime = sparkTimeEnd - sparkTimeStart

avgHouseholdDF.show()

+---------+--------+-----------------+
|longitude|latitude|  avg(households)|
+---------+--------+-----------------+
|  -116.09|   34.15|           1482.0|
|  -116.31|   33.66|            713.0|
|   -116.9|   33.22|            703.0|
|  -116.96|   32.86|            503.0|
|  -116.97|   32.76|            406.0|
|  -116.99|   33.77|           1689.0|
|  -117.03|   33.18|            830.0|
|  -117.19|   33.69|           1074.0|
|   -117.2|   34.24|            423.0|
|  -117.54|   33.82|             28.0|
|  -117.24|   33.77|           1290.0|
|  -117.35|   33.69|            190.0|
|  -117.51|   34.14|            327.0|
|   -117.6|   33.45|            435.0|
|  -117.61|   33.42|            775.0|
|  -117.69|    33.6|390.6666666666667|
|  -117.73|   34.07|498.3333333333333|
|  -117.82|    33.8|            595.0|
|  -117.96|   33.71|            518.0|
|   -118.0|   34.15|            648.0|
+---------+--------+-----------------+
only showing top 20 rows

## 2.) Compare time for average: Spark vs Pandas

In [155]:
# Convert to Pandas
dfpd = df.toPandas()

pandasTimeStart = time.time()
avgHouseholdPandas = dfpd.groupby(geolocation)["households"].mean()
pandasTimeEnd = time.time()
pandasTime = pandasTimeEnd - pandasTimeStart

print("Pandas Avg Household by Geolocation:")
print(avgHouseholdPandas.head())

Pandas Avg Household by Geolocation:
longitude  latitude
-124.35    40.54       270.0
-124.30    41.80       478.0
           41.84       456.0
-124.27    40.69       465.0
-124.26    40.58       369.0
Name: households, dtype: float64

In [156]:
# compare times
print("Time taken by spark: ", sparkTime)
print("Time taken by pandas: ", pandasTime)

Time taken by spark:  0.022365570068359375
Time taken by pandas:  0.006831169128417969

Spark takes more time than pandas for grouping and aggregation.

## 3.) Highest median income by geolocation

In [157]:
sparkTimeStart = time.time()
maxMedianIncomeDF = df.groupBy(geolocation).agg({"median_income": "max"})
maxMedianIncomeDF.orderBy('max(median_income)', ascending = False).show(1)
sparkTimeEnd = time.time()
sparkTime = sparkTimeEnd - sparkTimeStart

+---------+--------+------------------+
|longitude|latitude|max(median_income)|
+---------+--------+------------------+
|  -118.41|   34.07|           15.0001|
+---------+--------+------------------+
only showing top 1 row

## 4.) Compare time for highest median income: Spark vs Pandas

In [158]:
# Convert to Pandas
dfpd = df.toPandas()

pandasTimeStart = time.time()
maxMedianIncomePandas = dfpd.groupby(geolocation)["median_income"].max()
maxMedianIncomePandas.sort_values(ascending=False).head(1)
pandasTimeEnd = time.time()
pandasTime = pandasTimeEnd - pandasTimeStart

In [159]:
# compare times
print("Time taken by spark: ", sparkTime)
print("Time taken by pandas: ", pandasTime)

Time taken by spark:  0.49741315841674805
Time taken by pandas:  0.005902290344238281

Spark takes more time than pandas for grouping, aggregation and sorting.

## 5.) Average median_house_value for different housing_median_age groups

In [160]:
avgMedianHouseValDF = df.groupBy("housing_median_age").agg({"median_house_value": "avg"})
avgMedianHouseValDF.orderBy("housing_median_age").show()

+------------------+-----------------------+
|housing_median_age|avg(median_house_value)|
+------------------+-----------------------+
|               1.0|               190250.0|
|               2.0|     229438.83673469388|
|               3.0|     239450.04347826086|
|               4.0|      230054.1055900621|
|               5.0|     211035.70854271358|
|               6.0|     206768.24031007753|
|               7.0|       188445.059602649|
|               8.0|     190805.07303370786|
|               9.0|      190306.9941860465|
|              10.0|     178416.39380530972|
|              11.0|            182480.3125|
|              12.0|          181590.640625|
|              13.0|     188065.47389558234|
|              14.0|     191181.28818443805|
|              15.0|     181031.02403846153|
|              16.0|     200354.50708661418|
|              17.0|     191772.24479166666|
|              18.0|     192074.71548117156|
|              19.0|     196017.75242718446|
|              20.0|     192681.75195822454|
+------------------+-----------------------+
only showing top 20 rows

## 6.) Highest Population by location

In [161]:
populationDF = df.groupBy(geolocation).agg({"population": "max"})
populationDF.orderBy('max(population)', ascending = False).show(1)

+---------+--------+---------------+
|longitude|latitude|max(population)|
+---------+--------+---------------+
|  -117.42|   33.35|        35682.0|
+---------+--------+---------------+
only showing top 1 row

## 7.)  `total_bedrooms` to `total_rooms` ratio

In [162]:
# Calculate ratio
df_with_ratio = df.withColumn("bedroom_room_ratio", col("total_bedrooms") / col("total_rooms"))
df_with_ratio.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value| bedroom_room_ratio|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|0.22861724875267284|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|0.24849673202614378|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|0.24166666666666667|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|0.22451698867421718|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|0.22420907840440166|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|0.17015140591204037|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|0.23391812865497075|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|0.20689655172413793|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|0.24535393610357067|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|0.20641282565130262|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0| 0.2141138732959102|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|0.24295774647887325|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|0.19209914794732766|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|0.18724778046811946|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0| 0.2610497237569061|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|0.22965571205007826|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|0.19189511323003575|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|               0.75|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0| 0.2780979827089337|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|0.24742268041237114|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-------------------+
only showing top 20 rows

In [163]:
# Calculate avg
average_ratio = df_with_ratio.agg(avg("bedroom_room_ratio")).collect()[0][0]
print(f"The average ratio of total_bedrooms to total_rooms is: {average_ratio}")

The average ratio of total_bedrooms to total_rooms is: 0.2127599882103483

## 8.) Correlation between `median_income` and `median_house_value`

In [164]:
correlation = df.select(corr("median_income", "median_house_value")).collect()[0][0]

print(f"The correlation between median_income and median_house_value is: {correlation}")

The correlation between median_income and median_house_value is: 0.6918706037806676